@media (min-width: 481px){
    .container{
        width: auto;
        padding: 10px;
    }
    table{
        font-family: 'Times New Roman', Times, serif;
        border-collapse:collapse;
        width: 100%;
    }
    th{
        background-color: rgb(107, 90, 122);
    }
    td{
        background-color: rgb(178, 224, 224);
    }
    td,th{
        border: 2px solid;
        text-align: center;
        padding: 10px;
    }
    h2{
        font-size: 18px;
        padding-left: 10px;
        border: 2px solid grey;
        background-color: grey;
    }
    p{
        font-size: 14px;
    }
}
@media (min-width: 720px){
    .container{
        width: 100%;
        padding: 20px;
    }
    table{
        font-family: 'Times New Roman', Times, serif;
        border-collapse:collapse;
        width: 100%;
    }
    th{
        background-color: rgb(99, 117, 82);
    }
    td{
        background-color: rgb(136, 77, 77);
    }
    td,th{
        border: 2px solid;
        text-align: center;
        padding: 20px;
    }
    h2{
        font-size: 28px;
        padding-left: 20px;
        border: 2px solid yellowgreen;
        background-color: yellowgreen;
    }
    p{
        font-size: 18px;
    }
}
@media (min-width: 1080px){
    .container{
        width: 100%;
        padding: 30px;
    }
    table{
        font-family: 'Times New Roman', Times, serif;
        border-collapse:collapse;
        width: 100%;
    }
    th{
        background-color: rgb(107, 90, 122);
    }
    td{
        background-color: rgb(178, 224, 224);
    }
    td,th{
        border: 2px solid;
        text-align: center;
        padding: 30px;
    }
    h2{
        font-size: 35px;
        padding-left: 10px;
        border: 2px solid grey;
        background-color: grey;
    }
    p{
        font-size: 24px;
    }
}